
extends ../layout

block content
  h1 buscar profesor

  .row
    .col-lg-4.col-lg-offset-2
      input#search.form-control(type='search', value='', placeholder='Search using Fuzzy searching')
    p รณ  
    .col-lg-4
      input#search.form-control(type='search', value='', placeholder='Search using Fuzzy searching')
  

  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Header
          th Header
          th Header
          th Header
      tbody
        tr
          td 1,001
          td Lorem
          td ipsum
          td dolor
          td sit
        tr
          td 1,002
          td amet
          td consectetur
          td adipiscing
          td elit