extends ../layout

block content
  .page-header
    h3 Iniciar sesi칩n
  form.form-horizontal(method='POST' action='/login')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label Correo
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Correo institucional',pattern=".+@unmsm.edu.pe", minlength="3", maxlength="64",autofocus, required, title='Ingrese una direccion de correo valida')
    .form-group
      label.col-sm-3.control-label Contrase침a
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Contrase침a', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.far.fa-user.fa-sm
          | Ingresar
        a.btn.btn-link(href='/forgot') Te has olvidado tu contrase침a?
    .form-group
      .col-sm-offset-3.col-sm-7
        hr
    //- .form-group
    //-   .col-sm-offset-3.col-sm-7
    //-     a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
    //-       i.fab.fa-facebook-f.fa-sm
    //-       | Sign in with Facebook
    //-     a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
    //-       i.fab.fa-twitter.fa-sm
    //-       | Sign in with Twitter
    //-     a.btn.btn-block.btn-google.btn-social(href='/auth/google')
    //-       i.fab.fa-google-plus-g.fa-xs
    //-       | Sign in with Google
    //-     a.btn.btn-block.btn-github.btn-social(href='/auth/github')
    //-       i.fab.fa-github.fa-sm
    //-       | Sign in with GitHub
    //-     a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
    //-       i.fab.fa-linkedin-in.fa-sm
    //-       | Sign in with LinkedIn
    //-     a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
    //-       i.fab.fa-instagram.fa-sm
    //-       | Sign in with Instagram