footer
  .container.text-center
    p.pull-left © 2018 UNMSM, Facultad de Ingeniería de Sistemas e Informática
      //- li
      //-   a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      //- li
      //-   a(href='https://github.com/sahat/hackathon-starter/issues') Issues