extends layout

block content
  .row(style='padding-top: 10px;')
    .col-md-2.col-md-offset-10
      a.btn.btn-primary.btn-lg(href='https://siga-fisi.herokuapp.com/dashboard', role='button') Volver a SIGAP
  h1 Legajo Docente - FISI 2018
  p.lead Informacion académica de los profesores para el lincenciamiento
    